<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order received</title>
  </head>
  <!-- <style>
    body {
      background-color: #333333;
      color: white;
    }

    .logo {
      width: 82px;
      height: 82px;
      display: block;
      margin: auto;
    }

    p {
      margin: 0px;
      padding: 16px 0px;
    }

    .order-icon {
      width: 128px;
      height: 128px;
      margin: auto;
      display: block;
    }

    .ticket-link {
      font-weight: 700;
      color: black;
      padding: 12px 16px;
      text-align: center;
      display: block;
      margin: auto;
      background-color: #c0c0c0;
      box-shadow: 0px 2px 4px -2px #000000;
      text-decoration: none;
      width: fit-content;

      box-shadow: 0px 4px 6px -1px #000000;
    }

    .container {
    
    }

    .cover-image {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  </style> -->
  <body style="background-color: #333333; color: white; font-size: 16px">
    <div style="background-color: rgba(51, 51, 51, 0.5); padding: 16px 0px;">
      <p style="margin: 0px; padding: 16px 0px;">
        <img
        class="logo"
        style="width: 82px; height: 82px; object-fit: contain; margin: auto; display: block;"
        width="82"
        height="82"
        src="https://res.cloudinary.com/dxocehutm/image/upload/v1726867648/blackdiamond/logo_buu5yj.png"
        alt="Logo"
      />
      </p>

      <p style="font-weight: 500; font-size: 16px; text-align: center">
        Your ticket for <%= order.event.name %>
      </p>

      <div
      class="container"
      style="
        padding: 16px;
        max-width: 720px;
        margin: 32px auto;
        background-color: black;
      "
    >
        <p style="font-weight: 700; font-size: 36px; text-align: center; margin: 0px; padding: 16px 0px;">
          <%= order.firstName %>, you’ve got tickets!
        </p>

        <p style="margin: 0px; padding: 16px 0px;">
          <a class="ticket-link" href="<%= ticketLink %>"  style="
            font-weight: 700;
            color: black;
            padding: 12px 16px;
            text-align: center;
            display: block;
            margin: auto;
            background-color: #c0c0c0;
            box-shadow: 0px 2px 4px -2px #000000;
            text-decoration: none;
            width: fit-content;
            box-shadow: 0px 4px 6px -1px #000000;
          ">GO TO MY TICKETS</a>
        </p>

        <p style="font-weight: 500; margin: 0px; padding: 16px 0px;">
          View and save your tickets before the event
        </p>
        <p style="margin: 0px; padding: 16px 0px;">
          Your tickets are not in this email. Access your tickets in the website
          before your event, and save them in your phone for the fastest entry!
        </p>
        <p style="margin: 0px; padding: 16px 0px;">
          To access your ticket, go to the Tickets section in your account on
          www.eventsbyblackdiamond.com to view and download your tickets.
        </p>

        <hr />

        <p style="font-weight: 500; font-size: 24px; margin: 0px; padding: 16px 0px;">
          <%= order.event.name %>
        </p>

        <p style="margin: 0px; padding: 16px 0px; text-align: center;">
          <img
            src="<%= order.event.coverImage %>"
            class="cover-image"
            alt="Event cover image"
            style="width: 90%; height: 90%; min-width: 250px; min-height: 250px; object-fit: contain; margin: auto;"
          />
        </p>

        <p style="margin: 0px; padding: 16px 0px;"><%= order.tickets.length %> x Tickets</p>

        <hr />

        <p style="font-weight: 500; font-size: 20px; margin: 0px; padding: 16px 0px;">Order summary</p>
        <div style="color: #a3a7aa">
          <p><%= order.event.name %></p>
          <p><%= eventDate %></p>
          <p>Order #<%= order.id %></p>
          <p>Order date: <%= orderDate %></p>
          <% if (ticketGroups && ticketGroups.length > 0) { %>
            <% ticketGroups.forEach(function(group) { %>
              <div style="display: flex; justify-content: space-between; column-gap: 40px; width: 100%;">
                <p><%= group.quantity %> x <%= group.name %></p>
                <p>$<%= group.price %></p>
              </div>
            <% }); %>
          <% } else { %>
            <p>No tickets!</p>
          <% } %>
          <!-- Discount -->
          <% if(order.totalDiscount) { %>
          <div
          style="
            display: flex;
            justify-content: space-between;
            column-gap: 40px;
            width: 100%;
          "
        >
          <p>Discount</p>
          <p style="padding-left: 12px;">-$<%= order.totalDiscount %></p>
        </div>
        <% } else { %>
          <p></p>
        <% } %>
        <!-- End Discount -->
        <!-- Charges -->
        <div
          style="
            display: flex;
            justify-content: space-between;
            column-gap: 40px;
            font-weight: 700;
            width: 100%;
          "
        >
          <p>Charges</p>
          <p style="padding-left: 12px;">$<%= order.totalCharges %></p>
        </div>
        <!-- End Charges -->
        <!-- Total -->
        <div
          style="
            display: flex;
            justify-content: space-between;
            column-gap: 40px;
            color: white;
            font-weight: 700;
            width: 100%;
          "
        >
          <p>Total</p>
          <p style="padding-left: 12px;">$<%= order.amountPaid %></p>
        </div>
        <!-- End Total -->
          <p>Contact us for any questions related to this purchase. </p>
          <p>
            This order is subject to Black Diamond Entertainment Terms of
            Service and Privacy Policy, and Cookie Policy.   
          </p>
        </div>
      </div>

      <img
      class="logo"
      style="width: 82px; height: 82px; object-fit: contain; margin: auto; display: block;"
      width="82"
      height="82"
      src="https://res.cloudinary.com/dxocehutm/image/upload/v1726867648/blackdiamond/logo_buu5yj.png"
      alt="Logo"
    />

      <p style="text-align: center">
        <a
          style="color: #c0c0c0; text-decoration: none; text-align: center"
          href=""
          >Privacy Policy</a
        >
      </p>

      <p style="text-align: center">© 2024 BLACK DIAMOND</p>
    </div>
  </body>
</html>
